/* Body */
body {
    background-color: #222;
    color: white;

    font-family: Arial;
    font-size: 12pt;

    margin: 0;
    padding: 0;
}

/* GLOBAL LINKS */
a:link {
    color: #0072bc;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #0072bc;
    text-decoration: none;
}

/* Headings */
h1 {
    font-size: 28pt;
    color: #aaa;

    padding: 0;
    margin: 0;
}

h2 {
    font-size: 20pt;
    color: #aaa;

    padding: 0;
    margin: 0;
}

h3 {
    font-size: 16pt;
    color: white;

    padding: 0;
    margin: 0;
}

/* Quotes */
blockquote {
    padding: 5px;

    border-right: 2px solid white;
}

/* For /blog/index.html */
#blog-hero {
    position: absolute;
    top: 50px;
    left: 0;
    
    float: left;

    height: 200px;
    width: 200px;

    padding: 10px;
}

#blog-post {
    position: absolute;
    top: 50px;
    left: 200px;

    padding: 10px;
    margin-right: 10px;

    max-width: 700px;
}

/* Universal Navigation */
#universalnav {
    background-color: #333;
    width: 100%;
}
#universalnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #universalnav li {
    float: left;
  }
  
  #universalnav li a {
    display: block;
    padding: 15px;
    color: white;
  }

  #universalnav li a:hover {
    display: block;
    padding: 15px;
    background-color: #0072bc;
    color: #dddddd;
  }